{% extends "base_hp.html" %}

{% block title %}Projekti{% endblock title %}

{% block vsebina %}

<div class="me">
    <h1>Moji projekti so</h1>

    <p>Spodaj so navdeni projekti oz. domače naloge, ki sem jih naredil v času tečaja</p>

    <h3><a href="/projekti/cas">Trenutni čas</a></h3>
    <p>Pri tem projektu s klikom na link zgoraj s Python kodo vidimo trenutni datum in čas.</p>

    <h3><a href="/projekti/loto"> Loterija</a></h3>
    <p>Loterija je program spisan v Phython-u, ki izpiše naključno sprovedene številke za igro na srečo Eurojackpot, ki prinaša miljonske dobitke. Sedaj pa kliknite na zgornji link in nato dobljene številke prekrižajte na listku in dobitno kombinacijo vplačajte.</p>

    <h3><a href="/projekti/kalkulator">Kalkulator</a></h3>
    <p>Pri tem projektu s klikom na link zgoraj uporabljate kalkulator z osnovnimi operacijami.</p>

    <h3><a href="/projekti/ugani">Ugani skrito število</a></h3>
    <p>Pri tem projektu morate uganiti skrito število.</p>

    <h3><a href="/projekti/mesto">Ugani glavno mesto države</a></h3>
    <p>Pi... mater... jebemu mat... tale mi pa še ne dela, morm še poiskati rešitev pod pokrovom, matr mu nabijem.</p>

    <h3><a href="/projekti/dna">DNA analizator</a></h3>
    <p>Naša slovenska Pol'cija me je prosila, da jim naredim DNA analizator, ki iz inputa DNA zapisa izpiše lastnosti osumljenca.</p>

    <h3><a href="/projekti/guestbook">Guestbook</a></h3>
    <p>Neki Filon hotel je hotu, da jim naredim GuestBook, da bodo lahko gostje popljuval njiho storitve .. hehehe.</p>

</div>

{% endblock vsebina %}